<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= capitalLetter(appname) %> - Service | <%= capitalLetter(content) %></title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/assets/dist/css/skins/_all-skins.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/assets/plugins/select2/select2.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <% include template/main-header.ejs %>
    <!-- =============================================== -->
    <% include template/main-sidebar.ejs %>
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 1126px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><%= capitalLetter(content) %><small>section</small></h1>
        </section>
        <!-- notification callout -->
        <div class="pad margin no-print">
            <div class="callout callout-info" style="margin-bottom: 0!important;">
                <h4><i class="fa fa-info"></i> Note:</h4>
                This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
            </div>
        </div>
        <!-- Selector -->
        <div class="row margin">
            <div class="col-sm-12">
                <div class="box">
                    <form id="insertRecord" method="post" target="">
                        <div class="box-header with-border">
                            <h3 class="box-title">Select Year <%= capitalLetter(content) %></h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="form-group">
                                <label for="tahun">Available Year</label>
                                <select required name="tahun" id="tahun" class="form-control select2" style="width: 100%;" tabindex="-1"></select>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-info pull-right">Fetch</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <% if(hasOwnProperty('activeTahun')){ %>
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-book"></i> <%= user.local.email %>'s Planning Report.
                        <small class="pull-right"><%= new Date().toDateString()%></small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Kode</th>
                            <th>Uraian</th>
                            <th>Anggaran Dana</th>
                            <th>Keterangan</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% records.forEach(function(record){ %>
                        <tr>
                            <td style="vertical-align: middle"><%= record._id %></td>
                            <td style="vertical-align: middle"><%= record.text %></td>
                            <td style="vertical-align: middle"><%= record.total %></td>
                            <td style="vertical-align: middle">
                                <% record.description.forEach(function(keterangan){ %>
                                <%= keterangan %><br>
                                <% }); %>
                            </td>
                        </tr>
                        <% }); %>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Jumlah Pendapatan</th>
                            <th>Jumlah Pembelanjaan</th>
                            <th>Jumlah Surplus</th>
                            <th>Jumlah Defisit</th>
                        </tr>
                        <tr>
                            <th><%= pendapatan %></th>
                            <th><%= pembelanjaan %></th>
                            <th><%= surplus %></th>
                            <th><%= defisit %></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print">
                <div class="col-xs-12">
                    <a href="/print/<%= activeTahun %>" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print Preview</a>
                    <button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Finalize Record</button>
                </div>
            </div>
        </section>
        <% } %>
        <!-- /.content -->
        <div class="clearfix"></div>
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer no-print">
        <div class="pull-right hidden-xs">
            <b><%= capitalLetter(appname) %> - Service Version</b> 1.0.0
        </div>
        <strong>Created By <a href="/">Ristec Indonesia</a>. Template By <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
    </footer>
</div>
<!-- ./wrapper -->
<!-- jQuery 2.1.4 -->
<script src="/assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/assets/plugins/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="/assets/dist/js/app.min.js"></script>
<!-- Sparkline -->
<script src="/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- Select2 -->
<script src="/assets/plugins/select2/select2.full.min.js"></script>
<!-- ChartJS 1.0.1 -->
<script src="/assets/plugins/chartjs/Chart.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/assets/dist/js/demo.js"></script>
<script>
    $(function(){
        $(".select2").select2({
            placeholder: "Pilih Tahun",
            allowClear: true
        });
        $('#tahun').select2({
            data: <%- JSON.stringify(year) %>
        }).trigger('change');

        <% if(hasOwnProperty('activeTahun')){ %>
        $('#tahun').select2().val('<%= activeTahun %>').change();
        <% } %>

    });
</script>
</body>
</html>
