<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= capitalLetter(appname) %> - Service | <%= capitalLetter(content) %></title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/assets/dist/css/skins/_all-skins.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/assets/plugins/select2/select2.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="/assets/plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/assets/plugins/datatables/dataTables.bootstrap.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <% include template/main-header.ejs %>
    <!-- =============================================== -->
    <% include template/main-sidebar.ejs %>
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><%= capitalLetter(content) %><small>section</small></h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <% include template/callout.ejs %>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <form id="insertRecord" method="post" target="" enctype="multipart/form-data">
                            <div class="box-header with-border">
                                <h3 class="box-title">Input Record <%= capitalLetter(content) %></h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="kategoriDana">Kategori Dana</label>
                                    <select required name="kategoriDana" id="kategoriDana" class="form-control select2" style="width: 100%;" tabindex="-1"></select>
                                </div>
                                <div class="form-group">
                                    <label for="tanggal">Tanggal</label>
                                    <input required name="tanggal" type="text" class="form-control pull-right" id="tanggal">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="money">Dana</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">Rp</span>
                                        <input required name="dana" type="text" class="form-control" id="money">
                                        <span class="input-group-addon">,-</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="keterangan">Keterangan</label>
                                    <textarea required name="keterangan" id="keterangan" class="form-control" rows="4" placeholder="Keterangan Record" style="max-width: 100%;"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile">Dokumen Pendukung</label>
                                    <input type="file" id="exampleInputFile" name="upload">
                                    <p class="help-block">File could be PDF / Image / Document</p>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-info pull-right">Insert</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Record <%= capitalLetter(content) %></h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Kode Rekening</th>
                                    <th>Jumlah</th>
                                    <th>Keterangan</th>
                                    <th>Tanggal</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                <% pendapatan.forEach(function(data){ %>
                                <tr>

                                    <td style="vertical-align: middle"><%= data.category %></td>
                                    <td style="vertical-align: middle"><%= data.amountString %></td>
                                    <td style="vertical-align: middle"><%= data.description %></td>
                                    <td style="vertical-align: middle"><%= new Date(data.date).toDateString() %></td>
                                    <td style="vertical-align: middle">
                                        <button class="btn btn-danger btn-xs" data-href="/perencanaan/delete/<%= data._id %>" data-toggle="modal" data-target="#confirm-delete">Delete</button>
                                    </td>
                                </tr>
                                <% }); %>
                                </tbody>

                                <tfoot>
                                <tr>
                                    <th>Pendapatan</th>
                                    <th colspan="4" class="text-center"><%= totalPendapatan %></th>
                                </tr>
                                <tr>
                                    <th>Pembelanjaan</th>
                                    <th colspan="4" class="text-center"><%= totalPembelanjaan %></th>
                                </tr>
                                <tr>
                                    <th>Penerimaan Pembiayaan</th>
                                    <th colspan="4" class="text-center"><%= totalPenerimaanPembiayaan %></th>
                                </tr>
                                <tr>
                                    <th>Pengeluaran Pembiayaan</th>
                                    <th colspan="4" class="text-center"><%= totalPengeluaranPembiayaan %></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>

            <div class="modal fade modal-danger" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">Alert!!</div>
                        <div class="modal-body">Are you sure want to delete this record?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-outline pull-right btn-ok">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <% include template/main-footer.ejs %>
</div>
<!-- ./wrapper -->
<!-- jQuery 2.1.4 -->
<script src="/assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/assets/plugins/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="/assets/dist/js/app.min.js"></script>
<!-- Sparkline -->
<script src="/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS 1.0.1 -->
<script src="/assets/plugins/chartjs/Chart.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/assets/dist/js/demo.js"></script>
<!-- Select2 -->
<script src="/assets/plugins/select2/select2.full.min.js"></script>
<!-- date-range-picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="/assets/plugins/daterangepicker/daterangepicker.js"></script>
<!-- DataTables -->
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        $('#tanggal').daterangepicker({
            timePicker: false,
            singleDatePicker: true,
            format: 'MM/DD/YYYY'
        });
        $(".select2").select2({
            placeholder: "Pilih Kategori Dana",
            allowClear: true
        });
        $("#example2").DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "lengthMenu": [ 6, 10, 15, 20, 25, 50 ],
            'iDisplayLength': 6
        });
        $('#kategoriDana').select2({
            data: <%- JSON.stringify(category) %>
        }).trigger('change');
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    });
</script>
</body>
</html>
