<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= capitalLetter(appname) %> - Service | <%= capitalLetter(content) %></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="/asets/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/dist/css/AdminLTE.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body onload="window.print();">
<div class="wrapper">
    <!-- Main content -->
    <section class="invoice">

        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-book"></i> <%= user.local.email %>'s Planning Report.
                    <small class="pull-right"><%= new Date().toDateString()%></small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Kode</th>
                        <th>Uraian</th>
                        <th>Anggaran Dana</th>
                        <th>Keterangan</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% records.forEach(function(record){ %>
                    <tr>
                        <td style="vertical-align: middle"><%= record._id %></td>
                        <td style="vertical-align: middle"><%= record.text %></td>
                        <td style="vertical-align: middle"><%= record.total %></td>
                        <td style="vertical-align: middle">
                            <% record.description.forEach(function(keterangan){ %>
                            <%= keterangan %><br>
                            <% }); %>
                        </td>
                    </tr>
                    <% }); %>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <th colspan="4">Jumlah</th>
                    </tr>
                    <tr>
                        <th>Pendapatan</th>
                        <th>Pembelanjaan</th>
                        <th>Surplus</th>
                        <th>Defisit</th>
                    </tr>
                    <tr>
                        <th><%= pendapatan %></th>
                        <th><%= pembelanjaan %></th>
                        <th><%= surplus %></th>
                        <th><%= defisit %></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section><!-- /.content -->
</div><!-- ./wrapper -->

<!-- AdminLTE App -->
<script src="/assets/dist/js/app.min.js"></script>
</body>
</html>
