<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= capitalLetter(appname) %> - Service | <%= capitalLetter(content) %></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/assets/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <% include template/main-header.ejs %>
      <!-- =============================================== -->
      <% include template/main-sidebar.ejs %>
      <!-- =============================================== -->

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1><%= capitalLetter(content) %><small>section</small></h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <% include template/callout.ejs %>

          <div class="row">
            <div class="col-md-12">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#timeline" data-toggle="tab">Timeline</a></li>
                  <li><a href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
                <div class="tab-content">
                  <div class="active tab-pane" id="timeline">
                    <!-- The timeline -->

                    <ul class="timeline timeline-inverse">
                      <!-- timeline time label -->
                      <% logs.forEach(function(log){ %>
                      <li class="time-label">
                        <span class="bg-red">
                          <%= new Date(log._id.year,log._id.month,log._id.day).toDateString() %>
                        </span>
                      </li>
                      <!-- /.timeline-label -->
                      <% log.logs.forEach(function(data){ %>
                      <!-- timeline item -->
                      <li>

                        <% if(data.action == config.stringCmd.create){ %>
                        <% if(data.victimUser){ %>
                        <i class="fa fa-user-plus bg-blue"></i>
                        <% }if(data.victimNeraca){ %>
                        <i class="fa fa-plus bg-blue"></i>
                        <% }} %>
                        <% if(data.action == config.stringCmd.updateProfile){ %>
                        <i class="fa fa-retweet bg-green"></i>
                        <% } %>
                        <% if(data.action == config.stringCmd.delete){ %>
                        <% if(data.victimUser){ %>
                        <i class="fa fa-user-times bg-red"></i>
                        <% }if(data.victimNeraca){ %>
                        <i class="fa fa-trash bg-red"></i>
                        <% }} %>
                        <% if(data.action == config.stringCmd.resetPassword){ %>
                        <i class="fa fa-user-secret bg-yellow"></i>
                        <% } %>
                        <div class="timeline-item">
                          <span class="time"><i class="fa fa-clock-o"></i> <%= new Date(data.createdAt).toTimeString() %></span>
                          <h3 class="timeline-header">
                            User ID : <a href="#" data-id="<%= data.owner %>" data-type="user" class="thumbnail">#<%= data.owner %></a>
                            <%= data.action %>
                            <% if(data.victimUser){ %>
                            User <a href="#" data-id="<%= data.victimUser.split(' ')[0] %>" data-type="user" class="thumbnail">#<%= data.victimUser.split(' ')[0] %></a>
                            <% } if(data.victimNeraca){ %>
                            Record <a href="#" data-id="<%= data.victimNeraca.split(' ')[0] %>" data-type="neraca" class="thumbnail">#<%= data.victimNeraca.split(' ')[0] %></a>
                            <% } %>
                          </h3>
                        </div>
                      </li>
                      <!-- END timeline item -->
                      <% });}); %>
                    </ul>
                  </div><!-- /.tab-pane -->
                  <div class="tab-pane" id="settings">
                    <form class="form-horizontal" id="insertRecord" method="post" target="" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputName" placeholder="Name" name="name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputFile" class="col-sm-2 control-label">Profile Picture</label>
                        <div class="col-sm-10">
                          <input type="file" id="exampleInputFile" class="form-control" name="upload">
                          <p class="help-block">Image Max Size 1MB</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
              </div><!-- /.nav-tabs-custom -->
            </div><!-- /.col -->
          </div><!-- /.row -->

          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title" id="myModalLabel">Detail Information</h4>
                </div>
                <div class="modal-body">
                </div>
              </div>
            </div>
          </div>

        </section><!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <% include template/main-footer.ejs %>

    </div><!-- ./wrapper -->

    <!-- jQuery 2.1.4 -->
    <script src="/assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/assets/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/assets/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/assets/dist/js/demo.js"></script>
    <script>
      $(function(){
        var infoModal = $('#myModal');
        $('.thumbnail').on('click', function(){
          $.ajax({
            type: "GET",
            url: '/'+$(this).data('type')+'/'+$(this).data('id'),
            dataType: 'json',
            success: function(data){
              if(data.err){
                htmlData = '<ul><li>Error: ' + data.err.message + '</li></ul>';
              }else{
                if(data.user) {
                  htmlData = '<ul><li>Name: ' + data.user.local.name + '</li><li>Email: ' + data.user.local.email + '</li></ul>';
                }else{
                  htmlData = '<ul><li>Description: ' + data.neraca.description + '</li><li>Amount: ' + data.neraca.amountString + '</li><li>Category: ' + data.neraca.category + '</li><li>Files: ' + data.neraca.files[0] + '</li></ul>';
                }
              }
              infoModal.find('.modal-body').html(htmlData);
              console.log(data);
              infoModal.modal('show');
            }
          });
          return false;
        });
      });
    </script>
  </body>
</html>
