<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= capitalLetter(appname) %> - Service | <%= capitalLetter(content) %></title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/assets/dist/css/skins/_all-skins.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/assets/plugins/select2/select2.min.css">
    <!-- Morris charts -->
    <link rel="stylesheet" href="/assets/plugins/morris/morris.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <% include template/main-header.ejs %>
    <!-- =============================================== -->
    <% include template/main-sidebar.ejs %>
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><%= capitalLetter(content) %><small>section</small></h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <form id="insertRecord" method="post" target="">
                            <div class="box-header with-border">
                                <h3 class="box-title">Select User for <%= capitalLetter(content) %></h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="emailUser">User</label>
                                    <select required name="emailUser" id="emailUser" class="form-control select2" style="width: 100%;" tabindex="-1"></select>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-info pull-right">Fetch</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <% if(hasOwnProperty('chartPendapatan') && hasOwnProperty('chartPembiayaan') && hasOwnProperty('chartPembelanjaan')){ %>
            <div class="row">
                <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Grafik Pendapatan</h3>
                    </div>
                    <div class="box-body chart-responsive">
                        <div class="chart" id="revenue-chart-pendapatan" style="height: 300px;"></div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Grafik Pembelanjaan</h3>
                        </div>
                        <div class="box-body chart-responsive">
                            <div class="chart" id="revenue-chart-pembelanjaan" style="height: 300px;"></div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Grafik Pembiayaan</h3>
                        </div>
                        <div class="box-body chart-responsive">
                            <div class="chart" id="revenue-chart-pembiayaan" style="height: 300px;"></div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
            <% } %>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <% include template/main-footer.ejs %>
</div>
<!-- ./wrapper -->
<!-- jQuery 2.1.4 -->
<script src="/assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/assets/plugins/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="/assets/dist/js/app.min.js"></script>
<!-- Sparkline -->
<script src="/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS 1.0.1 -->
<script src="/assets/plugins/chartjs/Chart.min.js"></script>
<!-- Select2 -->
<script src="/assets/plugins/select2/select2.full.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/assets/dist/js/demo.js"></script>
<!-- Morris.js charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="/assets/plugins/morris/morris.min.js"></script>
<script>
    $(function(){
        $(".select2").select2({
            placeholder: "Pilih User",
            allowClear: true

        });
        $('#emailUser').select2({
            data: <%- JSON.stringify(users) %>
        }).trigger('change');

        <% if(hasOwnProperty('activeUser')){ %>
        $('#emailUser').select2().val('<%= activeUser %>').change();
        <% } %>

        var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        <% if(hasOwnProperty('chartPendapatan') && hasOwnProperty('chartPembiayaan') && hasOwnProperty('chartPembelanjaan')){ %>
        new Morris.Area({
            element: 'revenue-chart-pendapatan',
            resize: true,
            data : <%- JSON.stringify(chartPendapatan) %>,
            xkey: 'y',
            ykeys: ['Dana'],
            labels: ['Dana', 'Keterangan'],
            lineColors: ['#a0d0e0', '#3c8dbc'],
            hideHover: 'auto',
            xLabelFormat: function(x) {
                var month = months[x.getMonth()];
                return month;
            },
            dateFormat: function(x) {
                var month = months[new Date(x).getMonth()];
                return month;
            },
            hoverCallback: function (index, options, content, row) {
                return "Dana: "+row.Duit+"<br>Tanggal: "+row.y+"<br>Keterangan: "+row.Keterangan;
            }
        });

        new Morris.Area({
            element: 'revenue-chart-pembiayaan',
            resize: true,
            data : <%- JSON.stringify(chartPembiayaan) %>,
            xkey: 'y',
            ykeys: ['Dana'],
            labels: ['Dana', 'Keterangan'],
            lineColors: ['#a0d0e0', '#3c8dbc'],
            hideHover: 'auto',
            xLabelFormat: function(x) {
                var month = months[x.getMonth()];
                return month;
            },
            dateFormat: function(x) {
                var month = months[new Date(x).getMonth()];
                return month;
            },
            hoverCallback: function (index, options, content, row) {
                return "Dana: "+row.Duit+"<br>Tanggal: "+row.y+"<br>Keterangan: "+row.Keterangan;
            }
        });

        new Morris.Area({
            element: 'revenue-chart-pembelanjaan',
            resize: true,
            data : <%- JSON.stringify(chartPembelanjaan) %>,
            xkey: 'y',
            ykeys: ['Dana'],
            labels: ['Dana', 'Keterangan'],
            lineColors: ['#a0d0e0', '#3c8dbc'],
            hideHover: 'auto',
            xLabelFormat: function(x) {
                var month = months[x.getMonth()];
                return month;
            },
            dateFormat: function(x) {
                var month = months[new Date(x).getMonth()];
                return month;
            },
            hoverCallback: function (index, options, content, row) {
                return "Dana: "+row.Duit+"<br>Tanggal: "+row.y+"<br>Keterangan: "+row.Keterangan;
            }
        });
        <% } %>
    });
</script>
</body>
</html>
