<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= capitalLetter(appname) %> - Service | <%= capitalLetter(content) %></title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/assets/dist/css/skins/_all-skins.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/assets/plugins/datatables/dataTables.bootstrap.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <% include template/main-header.ejs %>
    <!-- =============================================== -->
    <% include template/main-sidebar.ejs %>
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><%= capitalLetter(content) %><small>section</small></h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <% include template/callout.ejs %>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <form id="insertRecord" method="post" target="">
                            <div class="box-header with-border">
                                <h3 class="box-title">Create New <%= capitalLetter(content) %></h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input required name="email" type="email" class="form-control pull-right" id="email">
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-info pull-right">Insert</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Record <%= capitalLetter(content) %></h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Nama</th>
                                    <th>Image</th>
                                    <th>Level</th>
                                    <th>Tanggal Dibuat</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                <% data.forEach(function(dataUser){ %>
                                <tr>
                                    <td style="vertical-align: middle"><%= dataUser.local.email %></td>
                                    <td style="vertical-align: middle"><%= dataUser.local.name %></td>
                                    <td style="vertical-align: middle"><img src="<%= dataUser.local.imagePath %>" style="width:100px;height:100px;"></td>
                                    <td style="vertical-align: middle"><%= dataUser.local.level %></td>
                                    <td style="vertical-align: middle"><%= new Date(dataUser.local.createdAt).toDateString() %></td>
                                    <td style="vertical-align: middle">
                                        <button class="btn btn-warning btn-xs" data-href="/user/reset/<%= dataUser._id %>" data-toggle="modal" data-target="#confirm-reset">Reset Password</button>
                                        <button class="btn btn-danger btn-xs" data-href="/user/delete/<%= dataUser._id %>" data-toggle="modal" data-target="#confirm-delete">Delete</button>
                                    </td>
                                </tr>
                                <% }); %>
                                </tbody>

                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>

            <div class="modal fade modal-danger" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">Alert!!</div>
                        <div class="modal-body">Are you sure want to delete this user?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-outline pull-right btn-ok">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade modal-warning" id="confirm-reset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">Warning!!</div>
                        <div class="modal-body">Are you sure want to reset this user's password?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-outline pull-right btn-ok">Reset</a>
                        </div>
                    </div>
                </div>
            </div>



        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <% include template/main-footer.ejs %>
</div>
<!-- ./wrapper -->
<!-- jQuery 2.1.4 -->
<script src="/assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/assets/plugins/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="/assets/dist/js/app.min.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/assets/dist/js/demo.js"></script>
<!-- DataTables -->
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        $("#example2").DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "lengthMenu": [ 6, 10, 15, 20, 25, 50 ],
            'iDisplayLength': 6
        });
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
        $('#confirm-reset').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    });
</script>
</body>
</html>
