<!-- red -->
<% if(err.length > 0){ %>
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-ban"></i> Error!! </h4>
    <%= err %>
</div>
<% } %>

<% if(warning.length > 0){ %>
<!-- yellow -->
<div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-warning"></i> Warning! </h4>
    <%= warning %>
</div>
<% } %>

<% if(success.length > 0){ %>
<!-- green -->
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4>	<i class="icon fa fa-check"></i> Success </h4>
    <%= success %>
</div>
<% } %>

<% if(tips.length > 0){ %>
<!-- blue -->
<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-info"></i> Tips </h4>
    <%= tips %>
</div>
<% } %>