<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="<%= user.local.imagePath %>" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p><%= user.local.name %></p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            <!-- Super Admin Menu -->
            <% if(user.local.level == 'SuperAdmin' || user.local.level == 'Admin'){ %>
            <% if(content == 'user'){ %>
            <li class="active"><a href="/user"><i class="fa fa-users"></i> <span>User Management</span></a></li>
            <% }else{ %>
            <li><a href="/user"><i class="fa fa-users"></i> <span>User Management</span></a></li>
            <% } %>

            <% if(content == 'recordlog'){ %>
            <li class="active"><a href="/recordlog"><i class="fa fa-database"></i> <span>User Record Log</span></a></li>
            <% }else{ %>
            <li><a href="/recordlog"><i class="fa fa-database"></i> <span>User Record Log</span></a></li>
            <% } %>

            <% if(content == 'summary'){ %>
            <li class="active"><a href="/summary"><i class="fa fa-table"></i> <span>User Summary</span></a></li>
            <% }else{ %>
            <li><a href="/summary"><i class="fa fa-table"></i> <span>User Summary</span></a></li>
            <% }} %>

            <!-- User Menu -->
            <% if(user.local.level == 'Member'){ %>
            <% if(content == 'pendapatan' || content == 'pembiayaan' || content == 'pembelanjaan'){ %>
            <li class="active treeview">
            <% }else{ %>
            <li class="treeview">
            <% } %>
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Overview</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <% if(content == 'pendapatan'){ %>
                    <li class="active"><a href="/pendapatan"><i class="fa fa-money"></i> Pendapatan</a></li>
                    <% }else{ %>
                    <li><a href="/pendapatan"><i class="fa fa-money"></i> Pendapatan</a></li>
                    <% } %>
                    <% if(content == 'pembelanjaan'){ %>
                    <li class="active"><a href="/pembelanjaan"><i class="fa  fa-shopping-cart"></i> Pembelanjaan</a></li>
                    <% }else{ %>
                    <li><a href="/pembelanjaan"><i class="fa  fa-shopping-cart"></i> Pembelanjaan</a></li>
                    <% } %>
                    <% if(content == 'pembiayaan'){ %>
                    <li class="active"><a href="/pembiayaan"><i class="fa  fa-calculator"></i> Pembiayaan</a></li>
                    <% }else{ %>
                    <li><a href="/pembiayaan"><i class="fa  fa-calculator"></i> Pembiayaan</a></li>
                    <% } %>
                </ul>
            </li>

            <% if(content == 'perencanaan'){ %>
            <li class="active"><a href="/perencanaan"><i class="fa fa-navicon"></i> <span>Perencanaan</span></a></li>
            <% }else{ %>
            <li><a href="/perencanaan"><i class="fa fa-navicon"></i> <span>Perencanaan</span></a></li>
            <% } %>

            <% if(content == 'buku'){ %>
            <li class="active"><a href="/buku"><i class="fa fa-book"></i> <span>Buku Besar</span></a></li>
            <% }else{ %>
            <li><a href="/buku"><i class="fa fa-book"></i> <span>Buku Besar</span></a></li>
            <% }} %>

            <!-- Admin & User Menu -->
            <% if(content == 'profile'){ %>
            <li class="active"><a href="/profile"><i class="fa fa-user"></i> <span>Profile</span></a></li>
            <% }else{ %>
            <li><a href="/profile"><i class="fa fa-user"></i> <span>Profile</span></a></li>
            <% } %>

            <% if(content == 'bantuan'){ %>
            <li class="active"><a href="/bantuan"><i class="fa fa-support"></i> <span>Bantuan</span></a></li>
            <% }else{ %>
            <li><a href="/bantuan"><i class="fa fa-support"></i> <span>Bantuan</span></a></li>
            <% } %>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>