<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><%= capitalLetter(appname) %></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b><%= capitalLetter(appname) %></b>Service</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="<%= user.local.imagePath %>" class="user-image" alt="User Image">
                        <span class="hidden-xs"><%= user.local.name %></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="<%= user.local.imagePath %>" class="img-circle" alt="User Image">
                            <p><%= user.local.name %> - <%= user.local.level %><small><%= user.local.createdAt %></small></p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>