<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b><%= capitalLetter(appname) %> - Service Version</b> 1.0.0
    </div>
    <strong>Created By <a href="/">Ristec Indonesia</a>. Template By <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
</footer>